.type-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 90rem;
  gap: 1.25rem;
  /* 20px */
  margin: 2rem auto;
  padding: 0;
  border: 0.0625rem solid #ddd;
  box-sizing: border-box;
  margin-top: 14rem;
}

.sidebar {
  flex: 1 1 12.5rem;
  /* 200px */
  background: #fff;
  padding: 1.25rem;
  border-radius: 0.625rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  margin-bottom: 0.625rem;
  font-size: 1.125rem;
  color: #333;
}

.sidebar ul {
  list-style: none;
  margin-bottom: 1.25rem;
  padding-left: 0;
}

.sidebar li {
  margin-bottom: 0.5rem;
}

.product-grid {
  flex: 3 1 37.5rem;
  /* 600px */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}

.product-card {
  background: #fff;
  padding: 0.9375rem;
  border-radius: 0.75rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease;
  text-decoration: none;
}

.product-card h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: calc(1.2rem * 2);
}

.product-card:hover {
  transform: translateY(-0.3125rem);
}

.product-card img {
  max-width: 100%;
  height: 15rem;
  border-radius: 0.5rem;
  margin-bottom: 0.625rem;
}

.product-card h3 {
  font-size: 1rem;
  color: #222;
  margin-bottom: 0.5rem;
}

.btn-item {
  padding: 1rem 2rem;
  border: 1px solid #73c6d9;
  border-radius: 1rem;
  color: #000;
  background-color: white;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  max-width: fit-content;
  margin: 0 auto;
}

.btn-item:hover {
  background-color: #73c6d9;
  color: white;
}

.old-price {
  color: #777;
  text-decoration: line-through;
  font-size: 1rem;
  height: 1rem;
}

.price {
  color: red;
  font-weight: bold;
}

.pagination-container {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.pagination li {
  list-style: none;
}

.pagination li a,
.pagination li span {
  padding: 0.5rem 0.75rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.pagination li.active span {
  background-color: #73c6d9;
  color: #fff;
  border-color: #73c6d9;
}

.pagination li.disabled span {
  color: #aaa;
}



@media (max-width: 920px) and (min-width: 768px) {

  .type-container {
    flex-direction: column;
    margin-top: 17rem;
  }
}

@media (max-width: 768px) {

  /* 768px */
  .type-container {
    flex-direction: column;
    margin-top: 20rem;
  }

  .sidebar {
    width: 100%;
    flex-direction: row;
    gap: 1rem;
  }

  .product-grid {
    grid-template-columns: 1fr;
  }
}